<h1>Sign Up</h1>
<%= link_to 'Back', '/welcome', method: :get, :class => "ui red tag label" %>
<div class="ui divider"></div>
<div class="ui grid">
  <div class="ui six wide column centered">
    <%= form_for @user, html: {class: "ui form"} do |f|%>
      <div class="field">
        <%= f.label :username%>
        <%= f.text_field :username, :required => true%>
      </div>
      
      <div class="field">
        <%= f.label :password%>
        <%= f.password_field :password, :required => true%>
      </div>
      <%= f.submit 'Create User', :class => "ui button"%>
    <%end%>
  </div>
</div>